apiVersion: v1
kind: Service
metadata:
  name: fraud-metrics
  namespace: fraud-det
  labels:
    app: fraud-benchmark
spec:
  ports:
  - name: metrics
    port: 8000
    targetPort: 8000
  selector:
    app: fraud-benchmark
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: fraud-monitor
  namespace: fraud-det
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app: fraud-benchmark
  endpoints:
  - port: metrics
    interval: 15s
