apiVersion: batch/v1
kind: Job
metadata:
  name: data-gather
  namespace: fraud-det
spec:
  backoffLimit: 0
  activeDeadlineSeconds: 7200
  ttlSecondsAfterFinished: 1800
  template:
    metadata:
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8000"
      labels:
        run_id: "run-default"
        app: fraud-benchmark
    spec:
      priorityClassName: high-priority-tier
      restartPolicy: Never
      securityContext:
        fsGroup: 1000
      initContainers:
      - name: fix-permissions
        image: busybox
        securityContext:
          runAsUser: 0
        command: ["sh", "-c", "mkdir -p /fraud-benchmark/runs/$(RUN_ID) && chmod -R 777 /fraud-benchmark/runs/$(RUN_ID) && chmod -R 777 /fraud-benchmark/tmp || true"]
        env:
        - name: RUN_ID
          value: "run-default"
        volumeMounts:
        - name: storage
          mountPath: /fraud-benchmark
      - name: check-storage
        image: busybox
        imagePullPolicy: IfNotPresent
        command: ["sh", "-c", "ls -la /fraud-benchmark"]
        volumeMounts:
        - name: storage
          mountPath: /fraud-benchmark
      tolerations:
      - operator: "Exists"
        effect: "NoSchedule"
      containers:
      - name: gather
        image: pduraiswamy16722/fraud-data-gather:latest

        imagePullPolicy: IfNotPresent
        resources:
          requests:
            cpu: "500m"
            memory: "16Gi"
            ephemeral-storage: "500Mi"
          limits:
            cpu: "4"
            memory: "16Gi"
            ephemeral-storage: "2Gi"
        env:
        - name: RUN_ID
          value: "run-default"
        - name: EXECUTION_TYPE
          value: "cpu"
        - name: PUSHGATEWAY_URL
          value: "10.23.181.153:9091"
        - name: TMPDIR
          value: "/fraud-benchmark/tmp"
        - name: PYTHONUNBUFFERED
          value: "0"
        volumeMounts:
        - name: storage
          mountPath: /fraud-benchmark
        - name: storage
          mountPath: /tmp
          subPath: tmp
        - name: dshm
          mountPath: /dev/shm
      volumes:
      - name: storage
        persistentVolumeClaim:
          claimName: fraud-benchmark-pvc
      - name: dshm
        emptyDir:
          medium: Memory
          sizeLimit: 16Gi
---
apiVersion: batch/v1
kind: Job
metadata:
  name: data-prep-cpu
  namespace: fraud-det
spec:
  backoffLimit: 0
  activeDeadlineSeconds: 7200
  ttlSecondsAfterFinished: 1800
  template:
    metadata:
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8000"
      labels:
        run_id: "run-default"
        app: fraud-benchmark
    spec:
      priorityClassName: high-priority-tier
      restartPolicy: Never
      securityContext:
        fsGroup: 1000
      initContainers:
      - name: fix-permissions
        image: busybox
        securityContext:
          runAsUser: 0
        command: ["sh", "-c", "mkdir -p /fraud-benchmark/runs/$(RUN_ID) && chmod -R 777 /fraud-benchmark/runs/$(RUN_ID) && chmod -R 777 /fraud-benchmark/tmp || true"]
        env:
        - name: RUN_ID
          value: "run-default"
        volumeMounts:
        - name: storage
          mountPath: /fraud-benchmark
      - name: check-storage
        image: busybox
        imagePullPolicy: IfNotPresent
        command: ["sh", "-c", "ls -la /fraud-benchmark"]
        volumeMounts:
        - name: storage
          mountPath: /fraud-benchmark
      tolerations:
      - operator: "Exists"
        effect: "NoSchedule"
      containers:
      - name: prep
        image: pduraiswamy16722/fraud-data-prep:latest
        imagePullPolicy: IfNotPresent
        resources:
          requests:
            cpu: "2"
            memory: "16Gi"
            ephemeral-storage: "500Mi"
          limits:
            cpu: "4"
            memory: "16Gi"
            ephemeral-storage: "2Gi"
        env:
        - name: RUN_ID
          value: "run-default"
        - name: FORCE_CPU
          value: "true"
        - name: EXECUTION_TYPE
          value: "cpu"
        - name: PUSHGATEWAY_URL
          value: "10.23.181.153:9091"
        - name: INPUT_DIR
          value: "/fraud-benchmark/runs/$(RUN_ID)/cpu/data/raw"
        - name: OUTPUT_DIR
          value: "/fraud-benchmark/runs/$(RUN_ID)/cpu/data/features"
        - name: TMPDIR
          value: "/fraud-benchmark/tmp"
        - name: PYTHONUNBUFFERED
          value: "0"
        volumeMounts:
        - name: storage
          mountPath: /fraud-benchmark
        - name: storage
          mountPath: /tmp
          subPath: tmp
        - name: dshm
          mountPath: /dev/shm
      volumes:
      - name: storage
        persistentVolumeClaim:
          claimName: fraud-benchmark-pvc
      - name: dshm
        emptyDir:
          medium: Memory
          sizeLimit: 16Gi
---
apiVersion: batch/v1
kind: Job
metadata:
  name: data-prep-gpu
  namespace: fraud-det
spec:
  backoffLimit: 3
  activeDeadlineSeconds: 7200
  ttlSecondsAfterFinished: 1800
  template:
    metadata:
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8000"
      labels:
        run_id: "run-default"
        app: fraud-benchmark
    spec:
      priorityClassName: high-priority-tier
      restartPolicy: Never
      securityContext:
        fsGroup: 1000
      initContainers:
      - name: check-gpu
        image: nvcr.io/nvidia/cuda:12.2.2-base-ubuntu22.04
        resources:
          limits:
            nvidia.com/gpu: 1
          requests:
            nvidia.com/gpu: 1
        imagePullPolicy: IfNotPresent
        command: ["sh", "-c", "nvidia-smi && echo 'GPU OK'"]
      - name: fix-permissions
        image: busybox
        securityContext:
          runAsUser: 0
        command: ["sh", "-c", "mkdir -p /fraud-benchmark/runs/$(RUN_ID) && chmod -R 777 /fraud-benchmark/runs/$(RUN_ID) && chmod -R 777 /fraud-benchmark/tmp || true"]
        env:
        - name: RUN_ID
          value: "run-default"
        volumeMounts:
        - name: storage
          mountPath: /fraud-benchmark
      - name: check-storage
        image: busybox
        imagePullPolicy: IfNotPresent
        command: ["sh", "-c", "ls -la /fraud-benchmark"]
        volumeMounts:
        - name: storage
          mountPath: /fraud-benchmark
      tolerations:
      - operator: "Exists"
        effect: "NoSchedule"
      - key: "nvidia.com/gpu"
        operator: "Exists"
        effect: "NoSchedule"
      containers:
      - name: prep
        image: pduraiswamy16722/fraud-data-prep:latest
        imagePullPolicy: IfNotPresent
        env:
        - name: RUN_ID
          value: "run-default"
        - name: FORCE_CPU
          value: "false"
        - name: EXECUTION_TYPE
          value: "gpu"
        - name: PUSHGATEWAY_URL
          value: "10.23.181.153:9091"
        - name: INPUT_DIR
          value: "/fraud-benchmark/runs/$(RUN_ID)/gpu/data/raw"
        - name: OUTPUT_DIR
          value: "/fraud-benchmark/runs/$(RUN_ID)/gpu/data/features"
        - name: RMM_DEBUG_LOG_FILE
          value: "/fraud-benchmark/logs/rmm.log"
        - name: TMPDIR
          value: "/fraud-benchmark/tmp"
        - name: PYTHONUNBUFFERED
          value: "0"
        resources:
          requests:
            cpu: "1"
            memory: "16Gi"
            nvidia.com/gpu: 1
            ephemeral-storage: "500Mi"
          limits:
            cpu: "8"
            memory: "16Gi"
            nvidia.com/gpu: 1
            ephemeral-storage: "2Gi"
        volumeMounts:
        - name: storage
          mountPath: /fraud-benchmark
        - name: storage
          mountPath: /tmp
          subPath: tmp
        - name: dshm
          mountPath: /dev/shm
      volumes:
      - name: storage
        persistentVolumeClaim:
          claimName: fraud-benchmark-pvc
      - name: dshm
        emptyDir:
          medium: Memory
          sizeLimit: 16Gi
---
apiVersion: batch/v1
kind: Job
metadata:
  name: model-train-gpu
  namespace: fraud-det
spec:
  backoffLimit: 3
  activeDeadlineSeconds: 7200
  ttlSecondsAfterFinished: 1800
  template:
    metadata:
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8000"
      labels:
        run_id: "run-default"
        app: fraud-benchmark
    spec:
      priorityClassName: high-priority-tier
      restartPolicy: Never
      securityContext:
        fsGroup: 1000
      initContainers:
      - name: check-gpu
        image: nvcr.io/nvidia/cuda:12.2.2-base-ubuntu22.04
        resources:
          limits:
            nvidia.com/gpu: 1
          requests:
            nvidia.com/gpu: 1
        imagePullPolicy: IfNotPresent
        command: ["sh", "-c", "nvidia-smi && echo 'GPU OK'"]
      - name: fix-permissions
        image: busybox
        securityContext:
          runAsUser: 0
        command: ["sh", "-c", "mkdir -p /fraud-benchmark/runs/$(RUN_ID) && chmod -R 777 /fraud-benchmark/runs/$(RUN_ID) && chmod -R 777 /fraud-benchmark/tmp || true"]
        env:
        - name: RUN_ID
          value: "run-default"
        volumeMounts:
        - name: storage
          mountPath: /fraud-benchmark
      - name: check-storage
        image: busybox
        imagePullPolicy: IfNotPresent
        command: ["sh", "-c", "ls -la /fraud-benchmark"]
        volumeMounts:
        - name: storage
          mountPath: /fraud-benchmark
      - name: wait-for-prep
        image: busybox
        imagePullPolicy: IfNotPresent
        command: ["sh", "-c", "until [ $(ls /fraud-benchmark/runs/run-default/gpu/data/raw | wc -l) -ge 1000 ]; do echo waiting for 1k files; sleep 10; done"]
        volumeMounts:
        - name: storage
          mountPath: /fraud-benchmark
      tolerations:
      - operator: "Exists"
        effect: "NoSchedule"
      - key: "nvidia.com/gpu"
        operator: "Exists"
        effect: "NoSchedule"
      containers:
      - name: train
        image: pduraiswamy16722/fraud-model-build:latest

        imagePullPolicy: IfNotPresent
        env:
        - name: RUN_ID
          value: "run-default"
        - name: EXECUTION_TYPE
          value: "gpu"
        - name: PUSHGATEWAY_URL
          value: "10.23.181.153:9091"
        - name: INPUT_DIR
          value: "/fraud-benchmark/runs/$(RUN_ID)/gpu/data/features"
        - name: OUTPUT_DIR_CPU
          value: "/fraud-benchmark/runs/$(RUN_ID)/cpu/models"
        - name: OUTPUT_DIR_GPU
          value: "/fraud-benchmark/runs/$(RUN_ID)/gpu/models"
        - name: TMPDIR
          value: "/fraud-benchmark/tmp"
        - name: PYTHONUNBUFFERED
          value: "0"
        resources:
          requests:
            cpu: "2"
            memory: "16Gi"
            nvidia.com/gpu: 1
            ephemeral-storage: "500Mi"
          limits:
            cpu: "8"
            memory: "16Gi"
            nvidia.com/gpu: 1
            ephemeral-storage: "2Gi"
        volumeMounts:
        - name: storage
          mountPath: /fraud-benchmark
        - name: storage
          mountPath: /tmp
          subPath: tmp
        - name: dshm
          mountPath: /dev/shm
      volumes:
      - name: storage
        persistentVolumeClaim:
          claimName: fraud-benchmark-pvc
      - name: dshm
        emptyDir:
          medium: Memory
          sizeLimit: 16Gi
---
apiVersion: batch/v1
kind: Job
metadata:
  name: inference-cpu
  namespace: fraud-det
spec:
  backoffLimit: 0
  activeDeadlineSeconds: 7200
  ttlSecondsAfterFinished: 1800
  template:
    metadata:
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8000"
      labels:
        run_id: "run-default"
        app: fraud-benchmark
    spec:
      priorityClassName: high-priority-tier
      restartPolicy: Never
      securityContext:
        fsGroup: 1000
      initContainers:
      - name: fix-permissions
        image: busybox
        securityContext:
          runAsUser: 0
        command: ["sh", "-c", "mkdir -p /fraud-benchmark/runs/$(RUN_ID) && chmod -R 777 /fraud-benchmark/runs/$(RUN_ID) && chmod -R 777 /fraud-benchmark/tmp || true"]
        env:
        - name: RUN_ID
          value: "run-default"
        volumeMounts:
        - name: storage
          mountPath: /fraud-benchmark
      - name: check-storage
        image: busybox
        imagePullPolicy: IfNotPresent
        command: ["sh", "-c", "ls -la /fraud-benchmark"]
        volumeMounts:
        - name: storage
          mountPath: /fraud-benchmark
      - name: wait-for-model
        image: busybox
        imagePullPolicy: IfNotPresent
        command: ["sh", "-c", "until [ -f /fraud-benchmark/runs/run-default/cpu/models/fraud_xgboost/_status.json ]; do echo waiting for model; sleep 5; done"]
        volumeMounts:
        - name: storage
          mountPath: /fraud-benchmark
      tolerations:
      - operator: "Exists"
        effect: "NoSchedule"
      containers:
      - name: infer
        image: pduraiswamy16722/fraud-inference:latest

        imagePullPolicy: IfNotPresent
        resources:
          requests:
            cpu: "1"
            memory: "8Gi"
            ephemeral-storage: "500Mi"
          limits:
            cpu: "4"
            memory: "8Gi"
            ephemeral-storage: "2Gi"
        env:
        - name: RUN_ID
          value: "run-default"
        - name: EXECUTION_TYPE
          value: "cpu"
        - name: PUSHGATEWAY_URL
          value: "10.23.181.153:9091"
        - name: TMPDIR
          value: "/fraud-benchmark/tmp"
        - name: PYTHONUNBUFFERED
          value: "0"
        volumeMounts:
        - name: storage
          mountPath: /fraud-benchmark
        - name: storage
          mountPath: /tmp
          subPath: tmp
        - name: dshm
          mountPath: /dev/shm
      volumes:
      - name: storage
        persistentVolumeClaim:
          claimName: fraud-benchmark-pvc
      - name: dshm
        emptyDir:
          medium: Memory
          sizeLimit: 16Gi
---
apiVersion: batch/v1
kind: Job
metadata:
  name: inference-gpu
  namespace: fraud-det
spec:
  backoffLimit: 0
  activeDeadlineSeconds: 7200
  ttlSecondsAfterFinished: 1800
  template:
    metadata:
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8000"
      labels:
        run_id: "run-default"
        app: fraud-benchmark
    spec:
      priorityClassName: high-priority-tier
      restartPolicy: Never
      securityContext:
        fsGroup: 1000
      initContainers:
      - name: fix-permissions
        image: busybox
        securityContext:
          runAsUser: 0
        command: ["sh", "-c", "mkdir -p /fraud-benchmark/runs/$(RUN_ID) && chmod -R 777 /fraud-benchmark/runs/$(RUN_ID) && chmod -R 777 /fraud-benchmark/tmp || true"]
        env:
        - name: RUN_ID
          value: "run-default"
        volumeMounts:
        - name: storage
          mountPath: /fraud-benchmark
      - name: check-storage
        image: busybox
        imagePullPolicy: IfNotPresent
        command: ["sh", "-c", "ls -la /fraud-benchmark"]
        volumeMounts:
        - name: storage
          mountPath: /fraud-benchmark
      - name: wait-for-model
        image: busybox
        imagePullPolicy: IfNotPresent
        command: ["sh", "-c", "until [ -f /fraud-benchmark/runs/run-default/gpu/models/fraud_xgboost/_status.json ]; do echo waiting for model; sleep 5; done"]
        volumeMounts:
        - name: storage
          mountPath: /fraud-benchmark
      tolerations:
      - operator: "Exists"
        effect: "NoSchedule"
      containers:
      - name: infer
        image: pduraiswamy16722/fraud-inference:latest

        imagePullPolicy: IfNotPresent
        env:
        - name: RUN_ID
          value: "run-default"
        - name: EXECUTION_TYPE
          value: "gpu"
        - name: PUSHGATEWAY_URL
          value: "10.23.181.153:9091"
        - name: TMPDIR
          value: "/fraud-benchmark/tmp"
        - name: PYTHONUNBUFFERED
          value: "0"
        resources:
          requests:
            cpu: "2"
            memory: "16Gi"
            nvidia.com/gpu: 1
            ephemeral-storage: "500Mi"
          limits:
            cpu: "8"
            memory: "16Gi"
            nvidia.com/gpu: 1
            ephemeral-storage: "2Gi"
        volumeMounts:
        - name: storage
          mountPath: /fraud-benchmark
        - name: storage
          mountPath: /tmp
          subPath: tmp
        - name: dshm
          mountPath: /dev/shm
      volumes:
      - name: storage
        persistentVolumeClaim:
          claimName: fraud-benchmark-pvc
      - name: dshm
        emptyDir:
          medium: Memory
          sizeLimit: 16Gi
